.banner {
    margin-top: 69px;
    height: 280px;
    width: 100%;
    &_image {
        border-radius: 25px;
        position: absolute;
        max-width: 1240px;
        width: 90%;
    }
    & h1 {
        
    }
}