.collapse {
    max-width: 1023px;
    margin: auto;
    margin-bottom: 31px;
    position: relative;
    & h2 {
        border-radius: 5px;
        background-color: #FF6060;
        color: #FFFFFF;
        height: 47px;
        padding-top: 8px;
        padding-left: 18px;
        font-size: 24px;
        font-weight: lighter;
        &:hover {
            cursor: pointer;
        }
    }
    &_text {
        background: #F7F7F7;
        color: #FF6060;
        padding: 20px 5px 15px 18px;
        font-size: 18px;
        border-radius: 5px;
    }
    &_icon {
        color: #F7F7F7;
        position: absolute;
        top: 14px;
        right: 23px;
    }
}

.about_navbar {
    & .banner_image {
        object-fit: cover;
        object-position: 30% 40%;
    }
}

@include tablet {
    .about_navbar {
        & .banner_image {
            object-position: 100% 50%;
            border-radius: 15px;
        }
    }
}

@include phone {
    .banner {
        margin-bottom: 20px;
    }
    .collapse {
        margin-bottom: 20px;
        &_text {
            font-size: 12px;
            height: 110px;
        }
        & h2 {
            font-size: 14px;   
            padding-top: 7px;
            height: 30px;
        }
        &_icon {
            top: 6px;
        }
    }
}