.error {
    color: $color-secondary;
    text-align: center;
    margin-bottom: 35px;
    h1 {
        font-size: 220px;
        margin-top: 100px;
        margin-bottom: 15px;
    }
    h2 {
        margin-bottom: 110px;
        font-weight: lighter;
    }
    & a {
        color: $color-secondary;
    }
}

@include mobile {
    .error {
        & h1 {
            font-size: 100px;
        }
        & h2 {
            font-size: 20px;
        }
    }
}
